<h2 mat-dialog-title>Deletion Confirmation</h2>
<mat-dialog-content class="mat-typography">
  <h3>Data Loss</h3>
  <p>
    You are about to
    <strong>delete unrelevant information that is here just for demo purposes</strong>, but I need to ask you for
    confirmation because User Experience (UX) guidelines usually ask for that to improve user satisfaction when using online
    services like this one. The chances are that you will not even read this message, but anyway...
  </p>
  <h3>We are protecting you</h3>
  <p>against your worst enemy: <i>YOURSELF</i></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-raised-button mat-dialog-close>Cancel</button>
  <button type="button" mat-raised-button mat-dialog-close color="primary" cdkFocusInitial>Yes, delete It</button>
</mat-dialog-actions>
