<!-- navbar goes here -->
<div class="navbar">navbar goes here</div>

<!-- Home content -->
<div class="content" role="main">
  <h1>Navigate through the different blocks/components:</h1>

  <ul class="component-list">
    <li class="component-list">
      <button routerLink="/blocks/autocomplete-form">autocomplete-form</button>
      <button routerLink="/blocks/sidenav">sidebar navigation</button>
      <button routerLink="/blocks/navigation-schematics">sidemenu navigation (without backdrop)</button>
      <button routerLink="/blocks/dialog">dialog / pop-up / modal box</button>
      <button routerLink="/blocks/address-form">address-form</button>
      <button routerLink="/blocks/dashboard">dashboard</button>
      <button routerLink="/blocks/drag-drop">drag-drop</button>
      <button routerLink="/blocks/table">table</button>
      <button routerLink="/blocks/tree">tree</button>
      <button routerLink="/blocks/crud">CRUD operations in REST API</button>
    </li>
  </ul>
  <!-- Page navigation container -->
  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer>Footer goes here</footer>
</div>
